[color]
  ui = true
[diff]
  tool = vimdiff
[log]
  decorate = full
  pretty = oneline
  format = graph
[difftool]
  prompt = false
[apply]
  whitespace = nowarn
[gui]
  warndetachedcommit = true
  tabsize = 4
[push]
  default = simple
[user]
	name = Jack Harvey
	email = jackrrv@gmail.com
[core]
	excludesfile = /Users/jackharvey/.dot/.gitignore
	editor = nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/jackharvey/.stCommitMsg
[alias]
    graph = log --decorate=full --graph --oneline --all
    wash = remote prune origin
    rbd = rebase dev
    rbm = rebase master
    rbom = "!f(){ git checkout master && git pull && git checkout - && git rebase master; };f"
    rbc = rebase -i HEAD^^
    rbcc = rebase -i HEAD^^^
    rbccc = rebase -i HEAD^^^^
    mad = "!f(){ git add . && git commit --amend --no-edit && git push -f; };f"
    insane = "!f() { git add . && git commit --amend --no-edit --no-verify && git push -f --no-verify; };f"
[credential]
	helper = store
[pull]
	rebase = true
