[submodule ".vim/pack/colorschemes/opt/molokai"]
	path = .vim/pack/colorschemes/opt/molokai
	url = git@github.com:tomasr/molokai.git
[submodule ".vim/pack/colorschemes/opt/SpacegrayEighties"]
	path = .vim/pack/colorschemes/opt/SpacegrayEighties
	url = git@github.com:hhff/SpacegrayEighties.vim.git
[submodule ".vim/pack/colorschemes/opt/gruvbox"]
	path = .vim/pack/colorschemes/opt/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule ".vim/pack/colorschemes/opt/brogrammer"]
	path = .vim/pack/colorschemes/opt/brogrammer
	url = git@github.com:marciomazza/vim-brogrammer-theme.git
